#c2d {
    width: min(100vw, calc(100vh * 9/16));
    position: absolute;
    /* image-rendering: pixelated; You definitely want this if you are doing pixel art */
}

/* Get rid of any margins, set background black, use flexbox to center */
html, body {
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* @keyframes spin{
	from{
        transform:rotate(0deg);
        transform:scale(100% 100%);
    }
	to{
        transform:rotate(360deg);
        transform:scale(110% 110%);
    }	
} */
